.navbar-item {
  text-transform: uppercase;
}

#intro {
  background: url("//live.staticflickr.com/65535/49985078287_6b5e32a18b_k.jpg");
  background-position: center;
}

#cat {
  background: url("https://live.staticflickr.com/65535/49985104962_7fd38d96e4_z.jpg");
}

#games {
  background: url("https://live.staticflickr.com/65535/49984334213_2e300266f0.jpg");
  background-position: center;
}

.has-background-tan {
  background-color: #A1916B;
}

.has-shadow-b-l {
  -webkit-box-shadow: -20px 20px 49px -6px rgba(0,0,0,0.9);
  -moz-box-shadow: -20px 20px 49px -6px rgba(0,0,0,0.9);
  box-shadow: -20px 20px 49px -6px rgba(0,0,0,0.9);
}

.has-shadow-b-r {
  -webkit-box-shadow: 20px 20px 49px -6px rgba(0,0,0,0.9);
  -moz-box-shadow: 20px 20px 49px -6px rgba(0,0,0,0.9);
  box-shadow: 20px 20px 49px -6px rgba(0,0,0,0.9);
}

.has-shadow-t-l {
  -webkit-box-shadow: -20px -20px 49px -6px rgba(0,0,0,0.9);
  -moz-box-shadow: -20px -20px 49px -6px rgba(0,0,0,0.9);
  box-shadow: -20px -20px 49px -6px rgba(0,0,0,0.9);
}

.has-shadow-t-r {
  -webkit-box-shadow: 20px -20px 49px -6px rgba(0,0,0,0.9);
  -moz-box-shadow: 20px -20px 49px -6px rgba(0,0,0,0.9);
  box-shadow: 20px -20px 49px -6px rgba(0,0,0,0.9);
}